<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/edit.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form 
    id="new-form" 
    action="/flights/<%= flight._id %>?_method=PUT" 
    method="POST"
  >
    <label for="airline-input">Airline:</label>
    <input 
      type="text" 
      name="airline" 
      value="<%= flight.airline %>" 
      id="airline-input">
    
    <label for="airport-input">Airport:</label>
    <select name="airport" id="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
   
    <label for="flightNo-select">Flight Number</label>
    <input type="text" name="flightNo" id="flightNo">
    
    <label for="departure">Departure:</label>
    <input type="text" name="departure" id="departure-input">
    
    <button type="submit">Save flight</button>
  </form>
</main>

<%- include("../partials/footer") %>